.background-container {
  background-image: url("../../assets/images/background.webp");
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.redberry-logo-container {
  border-bottom: 1px solid #1a1a1a;
  margin: 25px 75px 0px 75px;
  padding-bottom: 26px;
}

.add-resume-btn-container {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.add-resume-btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #1a1a1a;
  padding: 18px 126px;
  font-size: 20px;
  color: #ffffff;
  margin: auto;
  display: block;
}

/* Media queries */

@media screen and (max-width: 610px) {
  .add-resume-btn {
    padding: 18px 116px;
    display: block;
  }
}

@media screen and (max-width: 585px) {
  .add-resume-btn {
    padding: 18px 106px;
    display: block;
  }
}

@media screen and (max-width: 555px) {
  .add-resume-btn {
    padding: 18px 96px;
    display: block;
  }
}

@media screen and (max-width: 515px) {
  .add-resume-btn {
    padding: 18px 76px;
    display: block;
  }
  .redberry-logo-container {
    text-align: center;
  }
}

@media screen and (max-width: 490px) {
  .add-resume-btn {
    padding: 18px 70px;
    display: block;
  }
}

@media screen and (max-width: 460px) {
  .add-resume-btn {
    padding: 18px 60px;
    display: block;
  }
}

@media screen and (max-width: 445px) {
  .add-resume-btn {
    padding: 18px 50px;
    display: block;
  }
}

@media screen and (max-width: 415px) {
  .add-resume-btn {
    padding: 18px 40px;
    display: block;
  }
}

@media screen and (max-width: 415px) {
  .redberry-logo {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .add-resume-btn {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 380px) {
  .add-resume-btn {
    padding: 18px 20px;
  }
}

@media screen and (max-width: 350px) {
  .add-resume-btn {
    padding: 18px 18px;
    font-size: 16px;
  }
}
